@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Games</h2>
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-default" href="@Request.Url.AbsoluteUri.ToString()Hyperion/" role="button">Hyperion Gigaplex</a>
    </div>
    <div class="col-md-10">
        A html5 shooter
    </div>
</div>
<br />