@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">Key Technologies</div>
    <div class="panel-body">
        <ul>
            <li>C# / .NET</li>
            <li>Java</li>
            <li>Restful web services and MVC</li>
            <li>AMQP systems (ActiveMQ and RabbitMQ)</li>
            <li>Automated deployment / CI/CD using Team city, Chef and Nuget</li>
            <li>Android Development</li>
            <li>Unity3D</li>
        </ul>
    </div>
</div>

<h2>Sample Projects</h2>
<div class="row">
    <div class="col-md-1">
        <a class="btn btn-default" href="@Request.Url.AbsoluteUri.ToString()Colabiture/" role="button">Colabiture</a>
    </div>
    <div class="col-md-11">
        A simple site using the amazon cloud to share and edit text. The text is stored in the amazon S3.
        The text editor is a slightly cut down version of Jquery-notebook.<br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-5">
        <div class="github-card" data-github="kaosnyrb" data-width="400" data-height="151" data-theme="default"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
    <div class="col-md-4">
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/brynstringer" data-format="inline" data-related="false"></script>
    </div>
</div>
